name: Generate and publish documentation

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    container:
      image: node:latest
    steps:
      - name: Check out
        uses: actions/checkout@v1
        
      - name: Install dependencies
        run: npm ci
        
      - name: Build the docs
        run: npm run docs
        
      - name: Configure git to trust the workspace despite the different owner
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE" 
        
      - name: Install deps
        run: apt-get install rsync

      - name: Publish generated content to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: docs
          git-config-name: "gh-runner"
          git-config-email: "gh@example.com"
